/* Updated CSS with a different color scheme */

#sketchpadapp {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#clear_button {
  margin-left: 15px;
  font-weight: bold;
  color: red;  /* Updated color */
}

#confidence {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 7.5%;
}

#content {
  margin: 0 auto;
  padding: 2% 15%;
  padding-bottom: 0;
}

.welcome {
  text-align: center;
  position: relative;
  color: rgb(83, 199, 199);  /* Updated color */
  background-color: darkgreen;  /* Updated color */
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
}

#footer {
  text-align: center;
  background-color: #000000;  /* Updated color */
  color: #fff;
  padding-top: 1%;
  padding-bottom: 0%;
}

#predict_button {
  margin-right: 15px;
  color: red;  /* Updated color */
  font-weight: bold;
}

#prediction_heading {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 7.5%;
}

#result {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

#sketchpad {
  height: 250px;
  width: 250px;
  border: 2px solid #888;
  border-radius: 4px;
}

#source {
  padding: 0 100px;
  text-align: center;
  margin-bottom: 10%;
}

#title {
  padding: 1.5% 15%;
  margin: 0 auto;
  text-align: center;
}

.btn {
  font-size: 15px;
  padding: 10px;
  -webkit-appearance: none;
  background: #f0f0f0;  /* Updated color */
  border: 1px solid #888;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons_div {
  margin-bottom: 30px;
}

.heading {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  display: inline;
}

.leftside {
  text-align: center;
  margin: 0 auto;
  margin-top: 4%;
}

.predicted_answer {
  text-align: center;
  margin: 0 auto;
  padding: 3% 5%;
  padding-top: 0;
}

.responsive_img {
  width: 75%;
  height: 10vw;
  object-fit: cover;
}

.social-media-icons {
  margin: 10px 40px;
}

.source-column {
  padding: 3% 2%;
}

.source-h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}
.canvas-container {
  position: relative; /* Ensure relative positioning */
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  margin: 0 auto; /* Center horizontally */
}

#prediction-result {
  margin-top: 10px; /* Add some space between canvas and result */
}

#select_it{
  margin-top: 5px;
}

#lhs{
  position: fixed;
}

hr {
  border: dotted #808080 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
  margin-bottom: 100px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: cyan;  /* Updated color */
  text-decoration: none;
}

p {
  font-family: 'Source Code Pro', monospace, sans-serif;
  margin-top: 1%;
}

@media (min-width: 720px) {
  .leftside {
      padding-left: 10%;
  }
}
